<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DELTA</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <div class="header">
        <nav>
            <a href="/"><img src="/public/media/1.png" class="logo"></a>
            <ul>
                <li><a href="/views/explore.html">EXPLORE</a></li>
                <li><a href="/views/aboutus.html">ABOUT US</a></li>
                <li><a href="/views/contactus.html">CONTACT US</a></li>
            </ul>
            <button type="submit" class="register"><a href="#">FEEDBACK</a></button>
        </nav>
        <div class="banner">
            <h1>Delta Cab Services</h1>
            <p class="para">Wheels for the rescue!</p><br>
            <p class="para">Established in 2020, Delta Cab Services have been providing high-facilitated Travel services
                with more than 20 lakhs of regular customers.<br>
                With 300+ experienced drivers, we provide you safe and fast cabs to reach your destinations in the right
                time.
            </p>
            <br><br>
            <!-- <a href="/bookCab"><button type="button" class="login"><span></span>Book Cabs</button></a> -->

        </div>
    </div>

</body>

</html>