<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b4b1828725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/adminloginlanding.css">
    <title>Welcome Admin</title>
</head>

<body>
    <div class="header">
        <nav>
            <a href="/adminLoginLanding"><img src="/public/media/1.png" class="logo"></a>

            <button type="submit" class="register"><a href="/logout">LOGOUT</a></button>
        </nav>
        <div class="banner">
            <h1>Welcome Admin</h1><br>
            <button type="submit" class="login"><a href="/displayusers">Manage Users</a></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="login"><a href="/displaycabs">Manage Cabs</a></button><br><br>
            <button type="submit" class="login"><a href="/displaybooked">Booked Users</a></button><br><br>
            <button type="submit" class="login"><a href="/compressdata">Compressed Data</a></button>
        </div>
    </div>

</body>

</html>