<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b4b1828725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/client.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav" style="position: absolute; z-index: 2; width: 100%;">

        <ul class="nav_ul_list">
            <li class="nav_head">
                <a href="#">Navbar</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="/login">Login</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="/registerUsers">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="/bookCab">Book Cab <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav_item">
                <div class="dropdown">
                    <button class="dropbtn">Compress</button>
                    <div class="dropdown-content">
                        <a href="/admin/compress/users">Users</a>
                        <a href="/admin/compress/cabs">Cabs</a>

                    </div>
                </div>
            </li>
            <li class="nav_item">
                <div class="dropdown">
                    <button class="dropbtn">Display</button>
                    <div class="dropdown-content">
                        <a href="/admin/display/users">Users</a>
                        <a href="/admin/display/cabs">Cabs</a>
                        <a href="/admin/display/bookedUsers">Booked Cabs</a>

                    </div>
                </div>
            </li>
        </ul>

    </nav>
    <div class="main">
        <div class="inmain">
            <div class="loginMiddle">

                <h1> Admin Landing Page</h1>

            </div>
        </div>
    </div>
    <script src="./public/script.js"></script>
</body>

</html>