<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DELTA</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <div class="header">
        <nav>
            <a href="/"><img src="/public/media/1.png" class="logo"></a>
            <ul>
                <li><a href="/views/explore.html">EXPLORE</a></li>
                <li><a href="/views/aboutus.html">ABOUT US</a></li>
                <li><a href="/views/contactus.html">CONTACT US</a></li>
            </ul>
            <button type="submit" class="register"><a href="#">FEEDBACK</a></button>
        </nav>
        <div class="banner">
            <h1>Delta Cab Services</h1>
            <p class="para">Wheels for the rescue!</p><br>
            <p>EMAIL ID : deltacabservices@org.in<br>Phone : 01230123012<br>Follow us on<br> <a
                    href="http://www.instagram.com"><i class="fa-brands fa-instagram"></i></a> <a
                    href="http://www.twitter.com"><i class="fa-brands fa-twitter-square"></i></a> <a
                    href="http://www.youtube.com"><i class="fa-brands fa-youtube"></i></a></p><br>
            <!-- <a href="/bookCab"><button type="button" class="login"><span></span>Book Cabs</button></a> -->
            <br><br>
            <!-- <button type="submit" class="login"><a href="/login">LOGIN</a></button> -->

        </div>
    </div>
    <script src="https://kit.fontawesome.com/b4b1828725.js" crossorigin="anonymous"></script>
</body>

</html>