<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DELTA</title>
    <link rel="stylesheet" href="/public/css/client.css" />
</head>

<body>
    <div class="header">
        <nav>
            <img src="/public/media/1.png" class="logo">
            <ul>
                <li><a href="/views/explore.html">EXPLORE</a></li>
                <li><a href="/adminlogin">ADMIN</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
            <button type="submit" class="register"><a href="/registerUsers">REGISTER</a></button>
        </nav>
        <div class="banner">
            <h1>Delta Cab Services</h1>
            <h3>Wheels for the rescue!</h3><br>
            <p class="para">Login to book your ride!</p>
            <br>
            <button type="submit" class="login"><a href="/login">LOGIN</a></button>

        </div>
    </div>

</body>

</html>