body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: larger;
    /* padding: 1rem 1rem; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.849), rgba(253, 253, 253, 0.678));
    border: 1px solid blue;
}

.nav_ul_list {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav_head {
    border: 1px solid black;
}

.nav_item {
    border: 1px solid maroon;
    padding: 0 1.5rem;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.main {
    width: 100vw;
    height: 100vh;
    /* background-image: url('../media/MainLoginBackground.jpg'); */
    background-size: cover;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inmain-wrapper {
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.inmain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../media/clientBg.jpg');
    height: 100vh;
    border: 1px solid red;
    width: 100vw;
    /* border: 1px solid blue; */
    background-size: cover;
    background-position: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dataform {
    /* border: 1px solid red; */
    border-radius: 1.5vmin;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    /* height: 50%; */
    padding: 1rem;
    /* margin-left: 60%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.dataform input {
    border-radius: 1vmin;
    padding: .5vmin;
    margin: .5vmin;
}

#jsonTable {
    border: 2px black solid;
    width: 100%;
    color: black;
    font-weight: bold;
    /* background-color: snow; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.856), rgba(253, 253, 253, 0.527));
}

.search {
    color: red;
    /* margin: 5vh; */
    padding: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    /* width: 100%; */
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    /* justify-content: ; */
}

.type-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.type-button-group button {
    height: 5rem;
    width: 8rem;
    margin: 2rem;
}

.search input {
    width: 25vw;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    padding-left: 0.5rem;
    margin-right: 2em;
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    /* width: 100%; */
    height: 6vh;
    background: #fff;
    /* padding: 0 35px 0 35px; */
}

.search button {
    border-radius: 1rem;
    /* width: 35px; */
}

.loginMiddle {
    border: 1px solid red;
    color: white;
}